.home {
    background-color: #ecbca4;
    h1 {
        text-align: center;
        margin: 40px;
        font-size:200%;
        color: #355070;
        font-family:fantasy;
    }

    .boxContainer {
        color: #4c1559;
        border:#4c1559;
        .flexContainer {
            display: flex;
            .txtContainer {
                flex: 4;
                h1 {
                    margin: 5%;
                    text-align: left;
                    font-size:75px;
                    font-family: cursive;
                    color:#B56576;
                }
                body {
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    line-height: 25px;
                    margin: 5px;
                    padding-left: 15px;
                    color: #B56576;
                }
                
            }
            .middlePanel {
                flex: 3;
                padding-left: 20px;
                .imgContainer {
                    border: 10px solid pink;
                    width: 400px;
                    height: 500px;
                    border-style: dotted;
                    display: flex;
                    justify-content: center;
                }
    
            }
        
        }
    }

    

   
    
}

