.home {
    background-color: black;
    h1 {
        text-align: center;
        padding-left: 3%;
        margin: 50px;
        font-size:250%;
        color: white;
        font-family: cursive;
    }
    
    a:hover {
        color: blue;
    }

    .flexContainer {
        display: flex;
        .txtContainer {
            flex: 2;
            color: white;
            h1 {
                margin: 3%;
                padding-left: 0%;
                text-align: left;
                font-size:75px;
                font-family: cursive;
                color:darksalmon;
            }
            body {
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                line-height: 25px;
                margin: 5px;
                padding-left: 15px;
                padding-right: 40px;
            }
            
        }
        .middlePanel {
            flex: 2.4;
            .imgContainer {
                border: 10px solid pink;
                width: 400px;
                height: 500px;
                border-style: dotted;
                display: flex;
                justify-content: center;
            }

        }
        
        .linksContainer {
            flex: 1;
            padding-top: 50px;
            .LinkedInLogo {
                padding-top:20%;
            }
            .LinkedInLogo:hover {
                -webkit-transform: scale(0.8);
	            transform: scale(0.8);
            }
            .GitLogo:hover {
                -webkit-transform: scale(0.8);
	            transform: scale(0.8);
            }
            .buttons:hover {
                -webkit-transform: scale(0.8);
	            transform: scale(0.8);
            }
            .buttons {
                padding-top:23%;
                margin:0px;
            }
            body {
                color: white;
                padding-top: 100px;
            }
        }
    }

   
    
}

