
.grid-container {
    display: flex;
}
.grid-item {
    color: #355070;
    font-family: 'Neonderthaw', cursive;
    font-size: 160%;
    font-weight: bolder;
    margin: 15px;

    grid-item:hover {
        color:4c1559;
    }
    
}