.projects {
    background-color:#ecbca4;
    h1 { // pls abstarct this
        text-align: center;
        margin: 40px;
        font-size: 300%;
        color: #355070;
        font-family: 'Neonderthaw', cursive;
    }

}