.app {
    height: 100vh;


    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: black;
        top: 200px;

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
        }
    }
}